<!-- basic html template -->
<html>
    <head>
        <title>teachers</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <h1>teachers</h1>
        <h2>Click on the tabs to navigate</h2>
        <nav>
            <ul class="tab">

                <li><a href="/teacher/classes">Classes</a></li>
                <li><a href="/teacher/students">students</a></li>
                <li><a href="/teacher/teachers">Teachers</a></li>
            </ul>
        </nav>

        <!-- basic html template -->
        <html>
            <head>
                <title>New teacher Form</title>
                <link rel="stylesheet" href="css/style.css">
            </head>
            <body>
                <h1>New teacher</h1>
                <form action="/teacher/newteacher" method="POST">
                    <label for="firstname">Firstname:</label>
                    <input type="text" id="firstname" name="firstname" required><br><br>
                    <label for="lastname">Lastname:</label>
                    <input type="text" id="lastname" name="lastname" required><br><br>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br><br>
                    <button type="submit">Submit</button>
                </form>
                <h1>added teachers</h1>
                
                <% if (typeof teacher !== 'undefined') { %>
                    <h3>Added Teacher:</h3>
                    <p>First Name: <%= teacher.firstname %></p>
                    <p>Last Name: <%= teacher.lastname %></p>
                <% } %>

                <h1>search teacher by name</h1>
                <form action="/teacher/getteacher" method="GET">
                    <label for="firstname">Firstname:</label>
                    <input type="text" id="firstname" name="firstname" required><br><br>
                    <button type="submit">Submit</button>
                </form>

                <h1>search teacher by name</h1>
                <form action="/teacher/getteacherById" method="GET">
                    <label for="firstname">Id:</label>
                    <select name="Teacherid" id="Teacherid">
                        <% for( let index = 0; index < lenTeachers; index++ ) { %>
                            <option value="<%= index+1 %>"><%= index+1 %></option>
                        <% } %>
                    </select>
                    <button type="submit">Submit</button>
                </form>
                <h1>found teachers</h1>
                
                <% if (typeof teachers !== 'undefined') { %>
                    <% for (var i = 0; i < teachers.length; i++) { %>
                        <h3>Found Teacher:</h3>
                        <p>First Name: <%= teachers[i].firstname %></p>
                        <p>Last Name: <%= teachers[i].lastname %></p>
                    <% } %>
                <% } %>
            </body>
        </html>
        
    </body>
    

    <script>

        
    </script>

</html>